.inside header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 1;
}

.inside header .netflix-logo {
    height: 40px;
    width: 130px;
    margin-left: 30px;
    margin-right: 0;
}

.inside header a {
    color: rgb(200, 198, 198);
    font-weight: normal;
    font-size: 15px;
    margin: 2%;
    text-decoration: none;
}

.inside header a:hover,
.inside header .nav-link.active {
    color: rgb(255, 254, 254);
    font-weight: bold;
    transition: font-weight 0.2s ease;
}

.inside header i {
    color: rgb(200, 198, 198);
    margin-left: 36%;
    font-size: 20px;
    transition: margin-left 0.5s ease;
}

.inside .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
}

@media all and (max-width: 900px) {
    .inside header a {
        color: rgb(200, 198, 198);
        font-weight: normal;
        font-size: 15px; /* Corrected typo from 10spx to 10px */
        margin: 2%;
    }

    .inside header .netflix-logo {
        height: 30px;
        width: 100px;
        margin-left: 5px;
        margin-right: 0;
    }

    .inside header i {
        color: rgb(200, 198, 198);
        margin-left: 15%;
    }
}
