.login.main-container {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.65); 
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login header {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    height: 100px;
    width: 100%;
    position: absolute;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.login.main-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/movieCollage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    overflow: scroll;
}



#login-form {
    width: 450px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-shrink: 0;
}

#login-form h1 {
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-left: 30px;
}

#login-form .error-message p{
    color:#E50914;
    font-size: 15px;
}
#login-form .error-message {
    margin-left: -130px;
    margin-top: 10px;
}

#login-form .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 70%;
    height: 25px;
    margin-left: 40px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
    color: #FFFFFF;
    font-size: 16px;
    outline: none;
}

#login-form input:focus {
    border: 3px solid White;
}
#login-form .input-group label {
    position: absolute;
    top: 50%;
    left: 45px;
    color: #aaa;
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
    transform: translateY(-50%);
}

#login-form input:focus ~ label,
#login-form input:not(:placeholder-shown) ~ label {
    top: 12px;
    left: 45px;
    font-size: 12px;
}

#login-form button {
    background-color: #E50914;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 76%;
    margin-left: 40px;
    font-size: 16px;
}


#login-form button:hover {
    background-color: #ff0310;
}

#login-form #toggle-signin{
    background-color: rgba(68, 68, 68, 0.6);
    font-size: 18px;
    border: 1px solid #353333;
}

#login-form #toggle-signin:hover {
    background-color: #333;
}

#login-form p {
    color: #eae2e2;
    margin-top: 10px;
    margin-left: 45%;
}

#login-form #fineprint {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 40px;
    color: rgb(178, 163, 163);
}

#login-form #signup-redirect {
    margin-top: 10px;
    margin-left: 40px;
    color: #b2a9a9;
}

#login-form a {
    color: White;
    text-decoration: none;
}

#login-form .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

#login-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-top: 10px;
    appearance: none;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    outline: none;
    position: relative;
    vertical-align: middle;
}

#login-form input[type="checkbox"]:checked {
    background: #fff;
    border-color: #000;
}

#login-form #checkbox-label {
    margin-left: 20px;
    margin-top: 9px;
    color: white;
    font-size: 15px;
}

#login-form input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 16px;
}

#login-form a:hover {
    text-decoration: underline;
}
